/*---------------打刻ボタン---------------*/
.btn-stamp {
    width: 80%;
    height: 70%;
    font-size: 24px;
    color: black;
    border-radius: 6px;
    border:0px;
    border-color: #999999;
    background-color: white;
    cursor: pointer;
}

#ng {
    color:gray;
    background-color: #999999;
    cursor:default;
}
