/*---------------header---------------*/
header {
    background-color: white;
    height: 40px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 24px;
        font-weight: 900;
    }
    nav {
        display: flex;
        .header-nav-item a {
            margin-left: 40px;
            font-size: 15px;
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
    .nav-w480 {
        display: none;
    }
    /*スマホサイズでハンバーガーメニュー*/
    @media screen and(max-width:480px) {
        .header-nav {
            display: none;
        }
        .nav-w480 {
            display: block;
            #menubtn {
                margin-right: 10px;
                height: 50px;
                width: 50px;
            }
            #nav-input {
                display: none;
            }
            .nav-hidden {
                display: none;
            }
            .header-nav-w480 {
                display: none;
                position: fixed;
                right: 5px;
                .header-nav-ul {
                    width: 170px;
                    height: 200px;
                    border: 1px solid darkgray;
                    border-radius: 5px;
                    padding-left: 10px;
                    background-color: rgb(255 255 255);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                }
                .header-nav-item a {
                    font-size: 24px;
                    margin: 8px;
                    font-weight: normal;
                }
            }
            #nav-input:checked ~ nav {
                display: block;
                z-index: 1000;
                animation: 1s fadeIn;
            }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}
