header {
  background-color: white;
  height: 40px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 24px;
  font-weight: 900;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul .header-nav-item a {
  margin-left: 40px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.footer {
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding: 15px 0px;
  text-align: center;
  background-color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  color: black;
}

body {
  background-color: #ebebeb;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contents {
  padding: 10vh 10vw 5vh;
  height: calc(75vh - 65px);
}

.content-ttl {
  font: size 16px;
}

.flash-message {
  margin: 5px;
  height: 15px;
  font-size: 14px;
  display: inline-block;
  color: red;
}

.form {
  padding: 5px;
}

.form-element {
  margin: 8px 0 8px 0;
}
.form-element .form-input {
  margin-bottom: 10px;
  width: 300px;
  border-radius: 4px;
  border-color: #909090;
  padding: 10px;
  font-size: 14px;
  background-color: #f5f5f5;
}

.guidance {
  font-size: 12px;
}
.guidance .guidance-msg {
  color: #909090;
  margin: 5px;
}
.guidance a {
  text-decoration: none;
  color: blue;
}

.btn-stamp {
  width: 80%;
  height: 50%;
  font-size: 24px;
  color: black;
  border-radius: 8px;
  border-color: #999999;
  background-color: white;
  cursor: pointer;
}

.btn-post {
  width: 300px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px 0;
  border-radius: 8px;
  border-color: #214be0;
  background-color: #214be0;
  cursor: pointer;
}
