.header {
    height: 100px;
    width: 100%;
    background-color: chartreuse;
    margin: 0 auto;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: darksalmon;
    margin: 0 auto;
    text-align: center;
}

.grayBox {

    height: 600px;
    width: 100%;
    background-color: lightgray;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
