.flash_msg {
  margin: 20px 0 0;
  font-size: 18px;
}

.stamps {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stamps form {
  width: 45%;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .stamps {
    height: 60%;
    justify-content: center;
  }
  .stamps form {
    width: 70%;
    height: 23%;
    margin: 5px;
  }
}
