.flash_msg {
  margin: 20px 0 0;
  font-size: 18px;
}

.stamps {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stamps form {
  width: 45%;
  padding: 10px;
  position: relative;
}
.stamps .atte_start button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.stamps .atte_end button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.stamps .rest_start button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.stamps .rest_end button {
  position: absolute;
  left: 10px;
  top: 10px;
}
