.stamps {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.stamps form {
  width: 45%;
  padding: 10px;
  position: relative;
}
.stamps .atte-start button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.stamps .atte-end button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.stamps .rest-start button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.stamps .rest-end button {
  position: absolute;
  left: 10px;
  top: 10px;
}
