.date-head {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    .date {
        font-size: 28px;
    }

    .date-arrow {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #00a2ff;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
            text-decoration: none;
            color: #00a2ff;
            font-size: 20px;
        }
    }
}
.atte-data {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.atte-table {
    .atte-th {
        width: 15vw;
        height: 4.5vh;
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        padding: 15px 0 15px 15px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    .atte-td {
        height: 4.2vh;
        border-collapse: collapse;
        border-top: 1px solid darkgray;
        padding: 15px 0 15px 12px;
        text-align: left;
        vertical-align: middle;
        font-size: 20px;
    }

    .atte-th:first-child,
    .atte-td:first-child {
        width: 16vw;
    }
}
