.stamps {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    form {
        width: 45%;
        display:flex;
        border:1px solid black;
        padding:10px;
    }
    .atte-start{
        display:flex;

        button{
            align-self:flex-end;
        }
    }
}
