
//commonの設定を上書きする
.flash_msg{
    margin:20px 0 0;
    font-size: 18px;
}

.stamps {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    form {
        width: 45%;
        padding: 10px;
        position:relative;
    }
    .atte_start button{
        position:absolute;
        right:10px;
        bottom:10px;
    }
        .atte_end button{
        position:absolute;
        left:10px;
        bottom:10px;
    }
        .rest_start button{
        position:absolute;
        right:10px;
        top:10px;
    }
        .rest_end button{
        position:absolute;
        left:10px;
        top:10px;
    }
}
